{{>save_nav}}
<div class="container-fluid">
    <div class="row">
        <div class="parallax-container">
            <div class="centered">
                <h1>Saved Articles</h1>

            </div>
            <div class="parallax"><img src="/images/ccbay.jpg">
            </div>
        </div>
    </div>

    <div class="container-fluid">

        <div id="articles">
            {{#if article}}
            {{#each article}}
            <div data-id={{this._id}} class='row'>
                <div class='col s12'>
                    <div class='card black darken-1'>
                        <div class='card-content white-text'> <span class='card-title'><a target="_blank"
                                    href="{{this.link}}">{{this.title}}</a></span>{{this.summary}} <br />
                        </div>
                        <div class='card-action'>
                            <!-- Modal Trigger -->
                            <button data-id={{this._id}} data-target="modal1" class="btn modal-trigger">Article
                                Notes</button>
                            <button data-id={{this._id}} class='waves-effect waves-light btn delete'>Delete
                                Article</button>
                        </div>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}
        </div>

        <div class="row">
            <div class="col s12">
                <div class="card black darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">
                            <h4>There are no saved articles.</h4>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <div class="card black darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">
                            <h4>Would you like to see some more?
                            </h4>
                        </span>
                        <h5><a href="/">Browse more articles</a></h5>
                    </div>
                </div>
            </div>
        </div>

        {{/if}}
        <!-- Modal Structure -->
        {{#if article}}
        {{#each article}}
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4 id="title"></h4>
                <ul id="list">

                </ul>
                <textarea placeholder="New Note" id="notemsg" class="materialize-textarea"></textarea>
            </div>
            <div class="modal-footer">
                <a data-id="{{this._id}}" class="modal-close waves-effect waves-light btn savenote">Save note</a>
                <a class="modal-close waves-effect waves-light btn">Close</a>

            </div>
        </div>
        {{/each}}
        {{/if}}
        {{>footer}}
        {{>footer_scripts}}